altair
sklearn
matplotlib
nltk
numpy
gensim
spacy
pandas 
googleapiclient.discovery
googleapiclient.errors 
google_auth_oauthlib.flow 
google.auth.transport.requests
youtube_transcript_api 
wordcloud
PIL
enum 
io 
typing 
streamlit
