SessionState
base64
altair
time
sklearn
matplotlib
nltk.sentiment.vader
nltk
numpy
nltk.corpus
gensim
spacy
re 
os 
pickle 
pandas 
google.oauth2.credentials
googleapiclient.discovery
googleapiclient.errors 
google_auth_oauthlib.flow 
google.auth.transport.requests
google.oauth2.credentials
youtube_transcript_api 
wordcloud
PIL
enum 
io 
typing 
streamlit